{% extends 'layout.html' %} {% block content %}
<main id="main">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Donec fermentum purus et iaculis lacinia. 
    Ut condimentum dictum metus sit amet congue. 
    Nulla facilisi. 
    Aenean porttitor mi quam, in sollicitudin tellus scelerisque ut. 
    Maecenas ac euismod enim. 
    Nunc tempor ipsum a rhoncus pharetra. 
    Aliquam erat volutpat. 
    Vestibulum turpis lacus, lacinia pellentesque tincidunt nec, finibus ac tellus. 
    Praesent interdum velit quam, eget tristique felis sodales non. 
  </p>
  <br />
  <p>
    Etiam fringilla diam sed euismod fermentum. 
    Pellentesque in orci id velit placerat laoreet vel nec libero. 
    Suspendisse sollicitudin facilisis nibh, id pulvinar enim pellentesque eu. 
    Mauris vitae auctor mauris. Sed luctus facilisis dui. 
    Pellentesque mi diam, dapibus eu metus quis, sagittis ullamcorper purus. 
    Donec eget dolor faucibus, fermentum velit vel, blandit enim. 
    Suspendisse potenti.
  </p>
  <br />

  <p>
    Donec ullamcorper neque ut cursus pellentesque. 
    Proin vehicula sodales porttitor. 
    Phasellus vestibulum, ligula sit amet facilisis eleifend, orci felis semper metus, at congue erat nisl ut nulla. 
    Aliquam non posuere libero. Morbi erat turpis, tincidunt quis posuere a, mollis et nisl. 
    Fusce in rhoncus lacus, placerat tincidunt ipsum. 
    Suspendisse potenti. 
    Phasellus euismod ultrices enim, in bibendum dui porttitor eget. 
    Maecenas scelerisque lacinia dolor, in semper mauris finibus quis. 
    Nam eget suscipit mauris, non consequat urna. 
    Curabitur volutpat aliquam tempus. 
    Mauris a erat suscipit, dictum nulla vel, interdum justo. 
    Mauris quis congue purus.
  </p>
  <p style="text-align: right; font-style: italic;">
    Wikipedia
  </p>
</main>
{% endblock %}
